@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

:root {
  --color1: #152412;
  --color2: #e5f2db;
  --color3: #5d774d;
  --color4: #a9c49c;
  --color5: #f2f2f2;
  --color6: #ff2400;
  --color7: #2f4f4f;
  --color8: #f9812a;
  --color9: #eb9605;
}

body {
  background-color: var(--color2);
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
}

.container {
  width: 400px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  background-color: var(--color3);
  width: 90%;
  height: 90%;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#display {
  display: flex;
  flex-flow: row wrap;
  grid-column: span 4;
  margin: 0.2rem;
  padding: 0.5rem;
  background-color: var(--color7);
  color: var(--color2);
  font-size: 1.8rem;
  word-wrap: break-word;
  word-break: break-all;
}

button {
  background-color: var(--color4);
  color: var(--color1);
  font-size: 1.2em;
  border-radius: 4%;
  margin: 0.2rem;
}
button:hover,
button:active {
  background-color: var(--color2);
}

#current {
  text-align: end;
  flex-basis: 100%;
}

#previous {
  text-align: end;
  flex-basis: 100%;
  font-size: 1rem;
}

#clear {
  grid-column: span 2;
  background-color: var(--color9);
}
.operator,
#backspace,
#equal-sign {
  background-color: var(--color9);
}

#clear:hover,
#clear:active,
#backspace:hover,
#backspace:active,
.operator:hover,
.operator:active,
#equal-sign:hover,
#equal-sign:active {
  background-color: var(--color8);
}

footer {
  flex-basis: 100%;
  text-align: center;
}

.fa-github {
  color: black;
  font-size: 22px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotateY(1turn) scale(1.2);
}

@media (max-width: 400px) {
  body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }
  .container {
    height: 430px;
    width: 310px;
  }
  #current {
    font-size: 1rem;
  }

  #previous {
    font-size: 0.8rem;
  }
}
